name: Rules Validation

on:
  pull_request:
    paths:
      - "rules.schema.yaml"
      - "rules.yaml"
  push:
    paths:
      - "rules.schema.yaml"
      - "rules.yaml"

jobs:
  ValidateRules:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: "15"

      - name: Validate Rules Schema
        run: npx ajv-cli validate -s rules.schema.yaml -d rules.yaml
